---
import { getCollection } from "astro:content";
import Section from "./Section.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const posts = await getCollection("posts", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
const visible = posts.length > 0;

const basePath = lang === 'en' ? '' : `/${lang}`;
---

<div class="mx-auto max-w-screen-lg px-3 py-6">
  <h2 class="text-2xl">{t('posts.title')}</h2>
  {
    visible ? (
      <ul class="mt-4">
        {posts.map((post) => (
          <li class="flex flex-wrap items-center gap-x-2 my-2">
            <time
              datetime={post.data.pubDate.toISOString()}
              class="min-w-[120px] text-gray-500"
            >
              {post.data.pubDate.toLocaleDateString(lang === 'fr' ? 'fr-CA' : 'en-CA', {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </time>

            <a
              href={`${basePath}/posts/${post.id}`}
              class="inline-block cactus-link line-clamp-1 hover:underline"
            >
              {post.data.title}
            </a>
          </li>
        ))}
      </ul>
    ) : (
      <p class="mt-4 text-gray-200">{t('posts.comingSoon')}</p>
    )
  }
</div>
