---
import { SEO } from "astro-seo";

export interface Props {
  title: string,
  description: string,
  date: string,
  slug: string
}

const { title, description, date, slug } = Astro.props;

const baseUrl = "https://vinsg.ca";
const ogImageUrl = `\${baseUrl}/lectures/\${slug}/intro-graphql-og.png`;
const ogArticleUrl = `\${baseUrl}/lectures/\${slug}`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO
    title={title}
    description="A heavily optimized description full of well-researched keywords."
    openGraph={{
      basic: {
        title: "A Very Descriptive Title",
        type: "A type.",
        image: ogImageUrl,
      }
    }}
    twitter={{
      creator: "@jonasmerlins1"
    }}
    extend={{
      // extending the default link tags
      link: [{ rel: "icon", href: "/favicon.ico" }],
      // extending the default meta tags
      meta: [
        {
          name: "twitter:image",
          content: ogImageUrl,
        },
        { name: "twitter:title", content: "Tinker Tailor Soldier Spy" },
        { name: "twitter:description", content: "Agent" },
      ],
    }}
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>

  <body class="bg-slate-900 text-gray-100">
    <slot />
    <script>
      import Reveal from "reveal.js";
      import RevealMarkdown from "reveal.js/plugin/markdown/markdown.js";
      import RevealHighlight from "reveal.js/plugin/highlight/highlight.js";
      import RevealZoom from "reveal.js/plugin/zoom/zoom.js";
      import RevealNotes from "reveal.js/plugin/notes/notes.js";
      import RevealMath from "reveal.js/plugin/math/math.js";


      Reveal.initialize({
        transition: "none",
        history: true,
        controls: false,
        autoAnimateDuration: 0.5,
        autoAnimateEasing: "cubic-bezier(0.4, 0, 0.2, 1)",
        plugins: [ 
          RevealMarkdown,
          RevealHighlight,
          RevealZoom,
          RevealNotes,
          RevealMath
      ]
      });
    </script>
  </body>
</html>

<style is:global>
  @import "reveal.js/dist/reveal.css";
  @import "reveal.js/dist/theme/dracula.css";
  @import "@catppuccin/highlightjs/css/catppuccin-mocha.css";
</style>
